body{
    background-color: #f1f1f1;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #afafaf;
    border-radius: 10px;
    background-color: #ddd;
    font-family: sans-serif;
}

.display {
    text-align: center;
    margin-bottom: 10px;
}

.display h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 4px;
}

#conta-resultado {
    width: 96%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 4px;
}

.Calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.numero, .caractere {
    font-size: 30px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.caractere {
    display: flex;
    background-color: #bbb;
    text-align: center;
    justify-content: center;
}

#resultado {
    grid-column: span 2; 
    color: white;
    background-color: #f90;
    font-size: 30px;
}

.numero:hover {
    background-color: #e9e9e949;
}

.caractere:hover {
    background-color: #bbbbbb67;
}


#resultado:hover:hover {
    background-color: rgba(255, 119, 0, 0.678);
}

